// VARIABLES
$color-bg-shade: #181E30;
$color-bg: #1F263D;
$color-bg-tint: #323F64;
$color-bg-popup: #30354b;
$color-bg-table-header: #252e4a;
$color-border: #353C50;
$color-text-secondary: #A6B0C3;

$color-green: #16CEB9;
$color-purple: #5E2BBC;

$pureg-sm: 35.5em;
$pureg-md: 48em;
$pureg-lg: 64em;
$pureg-xl: 80em;
